.App {
  font-family: sans-serif;
  text-align: center;
}
.card {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: aqua;
  text-align: center;
}
